extends base.pug

mixin list(judul, link)
  a.list-group-item.list-group-item-action(href=`artikel/${link}.html`) #{judul}

block head
  +css("bootstrap.min.css")

block body
  .p-3
    .list-group
      +list("Kenapa Harus Pasrah?", "")
      +list("Pasrah Sebagai Kunci Sukses", "")
      +list("Ibadah Itu Harus Pasrah", "")
      +list("Pasrah Bukan Berarti Tidak Menolak", "tidak-menolak")